.container {
    max-width: 600px;
    margin: 20px auto;

    .filter-container,
    .button-container,
    .pagination-container {
        text-align: center;
    }

    p-table {
        width: 100%;
    }

    .p-field {
        margin-bottom: 1rem;
    }

    p-dialog {
        .p-fluid .p-field {
            width: 100%;
        }
    }

    .p-button {
        margin: 0 5px;
    }

    .confirmation-content {
        text-align: center;
        font-size: 1rem;
        margin: 1rem 0;
    }
}
